@import '../../../styles/tokens.scss';

.character-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $token-light-alpha250;
  font-size: $token-sm-font-size;

  &:last-of-type {
    border-bottom: none;
  }

  &__title {
    color: $token-light;
    text-transform: uppercase;
    padding-right: $token-spacing-2;
  }

  &__value {
    color: $token-yellow;
    text-align: right;
  }
}
