@import '../../../styles/tokens.scss';

.loading-icon {
  width: 100px;
  animation-duration: 2s;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  &--hidden {
    display: none;
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
