@import '../../../styles/tokens.scss';

.characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: $token-spacing-4;
  row-gap: $token-spacing-4;
  background-color: $token-darker;

  &--loading {
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
  }

  @media (min-width: $token-breakpoint-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $token-breakpoint-desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}
