$token-white: #ffffff;
$token-light: #9b9b9b;
$token-light-alpha250: rgba(
  $color: $token-light,
  $alpha: 0.25
);
$token-yellow: #ecb500;
$token-black: #000000;
$token-black-alpha600: rgba(
  $color: $token-black,
  $alpha: 0.6
);
$token-dark: #484848;
$token-darker: #2b2b2b;
$token-blue: #2c2e50;
$token-navy600: #6b6d85;

$token-sm-font-size: 0.875rem;
$token-base-font-size: 1rem;
$token-lg-font-size: 1.5rem;
$token-xl-font-size: 2rem;

$token-spacing-1: 0.25rem;
$token-spacing-2: 0.5rem;
$token-spacing-3: 0.75rem;
$token-spacing-4: 1rem;
$token-spacing-5: 1.25rem;
$token-spacing-6: 1.5rem;
$token-spacing-7: 1.75rem;
$token-spacing-8: 2rem;
$token-spacing-9: 2.25rem;
$token-spacing-10: 2.5rem;
$token-spacing-12: 3rem;

$token-breakpoint-tablet: 48rem;
$token-breakpoint-desktop: 64rem;

$token-border-radius-8: 0.5rem;
