@import '../../../styles/tokens.scss';

.character-header {
  position: relative;

  &__image {
    width: 100%;
    display: block;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $token-spacing-3;
    background-color: $token-black-alpha600;
  }

  &__name {
    margin: 0 0 $token-spacing-2 0;
    color: $token-white;
    font-size: $token-lg-font-size;

    @media (min-width: $token-breakpoint-desktop) {
      font-size: $token-xl-font-size;
    }
  }

  &__id-created {
    margin: 0;
    color: $token-white;
    font-size: $token-sm-font-size;
  }
}
