@import '../../../styles/tokens.scss';

.character-card {
  display: flex;
  flex-direction: column;
  border-radius: $token-border-radius-8;
  overflow: hidden;

  &__info {
    background-color: $token-dark;
    padding: $token-spacing-3;
    flex: 1;
  }
}
